 
 main img {
    position: relative;
    width: 100%;
     
}

main {
    background-image: url(/image/5fe62d64fee91c7edb0cce32ff5dd63c.jpg);
    position: relative;
    display: flex;
    width: 50vw;
    height: 100vh;
    justify-content:center;
    align-items: center;
}
 
 
.conteudo{
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #2b2a2a;
    padding: 55px;
    border-radius: 12px;
    z-index: 1;
}
.topo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.topo input {
    width: 350px;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #191818;
    outline: none;
    font-size: 1.2rem;
    background: #191818;
    color: #fff;
}
.topo button{
    width: 45px;
    border-radius: 12px;
    border: 1px solid #191818;
    background: #191818;
    color: #fff;
    outline: none;
}
.topo button:hove{
    background: #1f1e1e;
    cursor: pointer;
}
#listatarefas {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#listatarefas li{
    padding: 20px;
    background: #191818;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnacao{
    border-radius: 20px;
    border: 1px solid #191818;
    width: 38px;
    height: 38px;
    margin-right: 8px;
    cursor: pointer;
    background: #2b2a2a;
    color: #fff;

}
.btnacao:hover{

}
